.header-container {
    height: 200px;
}

.top-container {
    text-align: center;
    height: 550px;
    border-style:groove;
    border-color: rgb(127, 206, 255);
}

.top-image-container {
    width: 260px;
    height: 310px;
    margin: 20px;
}

.text-container {
    text-align: left;
    margin-top: 15px;
    height: 78px;
    width: 40%;
}

.lege1-container {
    width: 20%;
}

.link-container {
    margin: 20px;
}

.bottom-container {
    text-align: center;
    height: 470px;
    border-style:groove;
    border-color: rgb(127, 206, 255);
}

.bottom-image-container {
    width: 100%;
    height: 213px;
    margin-bottom: 20px;
}

.lege2-container {
    width: 10%;
}

.lege3-container {
    width: 35%;
}

.lege4-container {
    width: 40%;
}